.sub-topics-container>.drop-topic {
    background-color: blue;
}
a.resource:visited {
    color: blue;
}
.topic>.drop-down {
    border: 1px solid black;
}
.page-wrapper>footer.mobile-footer-header {
    background-color: white;
}