* {
    box-sizing: border-box;
}
#mainContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}
.topics-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.drop-snips {
    list-style-type: none;
}
.topics-container > .topic {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
}
.topic>.drop-down {
    display: flex;
}
.topics-container > .topic > .sub-topics-container {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
    flex-wrap: wrap;
}

.sub-topics-container > .topic > .sub-resources-container {
    /* min-height: fit-content; */
    display: flex;
    /* gap: 1%; */
    flex-wrap: wrap;
}
.sub-resources-container > a.resource {
    flex: 0 0 20%;   
}