.page-header img,
.topic>.drop-down>img {
    max-height: 50px;
}

.topics-container>.topic>ul.sub-resources-container>li {
    height: 5vh;
}
.sub-resources-container>a.resource {
    /* min-width: 15vw; */
}
a.resource {
    height: 100%;
}
.resource>img {    
    max-height: 50px;
}
.page-wrapper>footer.mobile-footer-header {
    width: 100%;
}
@media screen and (max-width:720px) {
    .resource {
        min-width: 100px !important;
    }
}