*{
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.topic>.sub-topics-container,
.topic ul.sub-resources-container {
    text-decoration: none;
}
a.resource {
    text-decoration: none;
}

#mainContainer  .explain-txt {
    font-size: 80%;
}