@media screen and (min-width:783px) {
    .sub-resources-container>a.resource {
        flex-basis: 15%;
        font-size: 80%;
    }
}
@media screen and (max-width:782px) {
    

    .resource>img {
        max-width: 100px;
        min-width: 100px;
    }
    
    .topics-container > .topic {
        margin-bottom: 5%;
    }
    .topics-container > .topic > .sub-topics-container {
        /* flex-direction: column; */
        flex-basis: 25%;
    }
    .sub-resources-container > a.resource {
        /* flex-basis: 33%; */
        flex: 0 0 10%;   
    }
    .sub-resources-container > a.resource ,
    .sub-resources-container > a.resource *{
        font-size: 50%;
    }
}