@media screen and (min-width:783px) {
    
    .topics-container>.topic {
        gap: 2%;
        margin: 2% 0;
    }
    .sub-topics-container > li {
        margin-top: 2% ;
    }
    .topics-container {
        flex-direction: row !important;
        /* background-color: white; */
        flex-wrap: wrap;
    }
    #localLLMsContainer{
        /* flex-basis: 100% !important; */
    }
    #localLLMsContainer > .sub-topics-container {
        /* flex-direction: row !important; */
    }
    #localLLMsContainer > .sub-topics-container > .topic{
        /* flex-basis: 45%; */
    }
    #localLLMsContainer > .sub-topics-container > .topic > .sub-resources-container{
        flex-basis: 45%;
    }
    .topics-container > .topic{
        /* background-color: grey; */
        /* border: 1px solid red; */
        flex-basis: 45% !important;
    }
    .sub-resources-container>a.resource {
        flex-basis: 15%;
        font-size: 80%;
    }
}
@media screen and (max-width:782px) {
    

    .resource>img {
        max-width: 100px;
        min-width: 100px;
    }
    
    .topics-container > .topic {
        /* margin-bottom: 5%; */
    }
    .topics-container > .topic > .sub-topics-container {
        /* flex-direction: column; */
        /* flex-basis: 15%; */
    }
    .sub-resources-container > a.resource {
        /* flex-basis: 33%; */
        /* flex: 0 0 10%;    */
    }
    .sub-resources-container > a.resource ,
    .sub-resources-container > a.resource *{
        font-size: 50%;
    }
}